.Product-card{
    margin: 20px 40px;
    border: 1px solid #ccc;
    padding: 0 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.Product-quantity{
    margin-left: 20px;
}

.btn-delete{
    position: relative;
    bottom: 20px;
    left: 95%;
    height: 30px;
    cursor: pointer;
}

.btn-edit{
    position: relative;
    bottom: 60px;
    left: 93%;
    height: 25px;
    cursor: pointer;
}
